<p>Ingresa tu mascota</p>

<br><br>
<label  for="name-pet">Tipo:</label><br>
<input #tipo type="text" id="name-pet"  [(ngModel)]="mascota.tipo" placeholder="Perro/Gato">
<br><br>
<label for="age-pet">Edad:</label><br>
<input #edad type="number" id="age-pet" [(ngModel)]="mascota.edad" placeholder="Edad" min="0" max="15">
<br><br>
<label for="raza-pet">Raza:</label><br>
<input #raza type="text" id="raza-pet" [(ngModel)]="mascota.raza" placeholder="Raza">
<br><br>
<button (click)="savePets()"> Guardar mascota</button>